@import "tailwindcss";

/* IEEE Brand Colors */
:root {
  --ieee-blue: rgb(0 115 174);    /* Pantone 3015 C / RGB (0, 181, 226) */
  --ieee-black: #000000;   /* Standard Black */
  --ieee-white: #FFFFFF;   /* Standard White */
}

.ieee-blue {
  color: var(--ieee-blue);
}

.bg-ieee-blue {
  background-color: var(--ieee-blue);
}

.ieee-black {
  color: var(--ieee-black);
}

.bg-ieee-black {
  background-color: var(--ieee-black);
}

.ieee-white {
  color: var(--ieee-white);
}

.bg-ieee-white {
  background-color: var(--ieee-white);
}
